main {
  color: var(--color-text);
}

h1 {
  margin: 0.3rem 0.625rem 0rem 0.625rem;
}

.formContainer {
  margin: 0.3rem 0.3rem 0.3rem 0rem;
  padding: 0.5rem;
}

.shipping-info input,
select {
  border: 2px solid orange;
  border-radius: 0.31rem;
  height: 6vh;
  width: 65vw;
  font-size: 1em;
}

.delivery-info label {
  margin-bottom: 0.31rem;
}

.delivery-info {
  margin: 0rem 0.625rem;
}

.delivery-info h1 {
  text-align: left;
}

.payment-info {
  display: flex;
  flex-direction: column;
}

.payment-success {
  display: none;
}

div .payment-info > div,
div .email-update-checkbox {
  margin-bottom: 1.5rem;
  font-size: 1.1em;
}

.checkoutForm {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.form-wrapper2 {
  display: flex;
  flex-wrap: wrap;
  text-align: left;
}

.checkboxes {
  display: grid;
  grid-template-columns: 1fr 8fr;
  margin: 0.625rem 0rem;
}
