main {
  color: var(--color-text);
}

.shopping-bag h3 {
  margin-top: 0rem;
}

.checkout {
  margin-bottom: 1.25rem;
}

.checkout-image {
  width: 100%;
}

.checkout p,
h1,
h3,
h5 {
  margin: 0rem 0.625rem 0rem 0.625rem;
}
