section .radio-buttons {
  display: grid;
  grid-template-columns: 1fr fr 8fr;
}

.item-1,
.item-2,
.item-3 {
  margin: 1.25rem 0rem;
}

.card-information {
  display: flex;
  flex-direction: column;
}

.card-information input {
  border: 2px solid orange;
  border-radius: 0.31rem;
  margin: 0.31rem 0rem 0.625rem 0rem;
  height: 5vh;
  width: 60vw;
}

.card-information :last-child {
  width: 40vw;
}

.payment-info {
  margin: 0.625rem;
}

.payment-info h1 {
  text-align: left;
}
