.form-input,
textarea {
  border: 2px solid #ffa800;
  border-radius: 0.31rem;
  margin: 0.625rem 0.625rem 0.625rem 0rem;
  padding: 0.625rem;
  height: 80%;
}

main {
  margin-left: 0.6rem;
}

h4 {
  margin-top: 3rem;
}

textarea {
  height: 150px;
}

.contact {
  max-width: 95%;
  margin: 0.625rem;
  text-align: left;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
}
.form-wrapper > * {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.social-media {
  display: flex;
  flex-direction: column;
}

.social-media > * {
  display: flex;
  flex: 1;
  margin-bottom: 1rem;
}
.orange-icon {
  margin-right: 0.625rem;
}
