.footer-container {
  margin: 10px 0px 0px 0px;
  background-color: #f2f0f0;
}

.footer {
  width: 100%;
  color: #000000;
  display: grid;
  justify-content: center;
  margin-right: 15px;
}

.footer-heading {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.footer-heading h2 {
  margin-bottom: 1rem;
}

.footer-heading a {
  color: #000000;
  text-decoration: none;
  margin-bottom: 0.5rem;
}

.footer-heading a:hover {
  font-weight: bold;
}
.footer-icons {
  display: flex;
  max-width: 25px;
  width: 100%;
}

.footer-icons img {
  padding: 20px;
}
