img {
  width: 100%;
  height: auto;
  margin: 1.25rem 0rem;
}

h1 {
  margin: 2.5rem 0rem 0rem 0rem;
}
.main-photo {
  margin: 0rem;
}

.welcome-text h2 {
  color: var(--color-header-nav);
}

.welcome-text,
.exclusive-text {
  text-align: left;
  color: var(--color-header-nav);
  padding: 12.5rem 0rem 0.6rem 0.6rem;
}

.main-exclusive {
  margin: 1.25rem 0rem;
}

.featured {
  display: grid;
  margin: 0rem 0.31rem 1.88rem 0.31rem;
  grid-gap: 0.31rem;
}

.featured h1 {
  grid-column: -1/1;
  text-align: center;
}

.featured img {
  width: 100%;
  margin: 1.25rem 0rem 0rem 0rem;
}

.products img {
  grid-column: -1/1;
}

.products {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 2rem;
}

.featured .cta {
  grid-column: -1/1;
}
