img {
  width: 100%;
  height: auto;
  margin: 20px 0px;
}

.main-photo {
  margin: 0px;
}

.main-running {
  background-image: url("/images/header-image-small.jpg");
  background-size: cover;
  min-height: 400px;
}

.welcome-text {
  text-align: left;
  color: #fff;
  text-shadow: #0000;
  padding-left: 10px;
  padding-top: 200px;
  max-width: 320px;
}

.main-exclusive {
  position: relative;
}

.featured {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 50px 5px 30px 5px;
  width: 100%;
  grid-gap: 5px;
}

.featured h2 {
  grid-column: -1/1;
  text-align: center;
}

.featured img {
  width: 100%;
}

.products img {
  grid-column: -1/1;
}

.products {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.featured .cta {
  grid-column: -1/1;
}
