img {
  width: 100%;
  height: auto;
  margin: 20px 0px;
}

.main-photo {
  margin: 0px;
}

.welcome-text {
  text-align: left;
  color: var(--color-header-nav);
  text-shadow: #0000;
  padding: 12.5rem 0rem 0.6rem 0.6rem;
  max-width: 320px;
}

.welcome-text h2 {
  color: var(--color-header-nav);
  font-size: 1.6rem;
}

.main-exclusive {
  position: relative;
}

.featured {
  display: grid;
  margin: 50px 5px 30px 5px;
  grid-gap: 5px;
}

.featured h1 {
  grid-column: -1/1;
  text-align: center;
}

.featured img {
  width: 100%;
}

.products img {
  grid-column: -1/1;
}

.products {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.featured .cta {
  grid-column: -1/1;
}
