.jacket-image img {
  width: 100%;
}

h1 {
  font-size: 1.3rem;
}

.jacket-information {
  margin: 0rem 0rem 0rem 0.6rem;
}

.stars-icon {
  width: 9.4rem;
}

p {
  font-size: 0.8em;
}

.reviews p {
  margin: 0.8rem 0rem;
}

.sizes {
  width: 40vw;
  border-radius: 0.3rem;
}
.choose-size {
  margin-bottom: 0.8rem;
}

ul.a {
  list-style-type: circle;
}

.information {
  padding: 40px 0rem;
}
