h1 {
  font-size: 1.3rem;
}

.jacket-information {
  margin: 0rem 0.7rem 0rem 0.6rem;
}

.stars-icon {
  width: 9.4rem;
}

.reviews p {
  margin: 0.8rem 0rem;
}

.choose-size {
  margin-bottom: 0.8rem;
}

ul.a {
  list-style-type: circle;
}

.popup {
  background: #fff;
  padding: 0.5rem 1rem 25rem 1rem;
  border: 3px solid #ffa800;
  height: 150px;
  width: 250px;
  position: absolute;
  margin: -300px 0px 0px 4px;
  -moz-box-shadow: 0.14rem 0.14rem 0.9rem #ccc;
  -webkit-box-shadow: 0.14rem 0.14rem 0.9rem #ccc;
}

.popup,
.popup > * {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.popup img {
  width: 200px;
  height: auto;
}

.popup h2 {
  margin-top: 0.8rem;
}
