@media only screen and (max-width: 769px) {
  .main-running {
    background: rgba(0, 0, 0, 0.3) url("/images/Homepage/header-image-small.jpg");
    background-blend-mode: darken;
    background-size: cover;
    min-height: 400px;
    margin-top: 0.625rem;
  }

  .main-exclusive {
    background: rgba(0, 0, 0, 0.3) url("/images/Homepage/exclusive-small.jpg");
    background-blend-mode: darken;
    background-size: cover;
    min-height: 400px;
    margin-top: 0.625rem;
  }
}

/*481*/
@media only screen and (min-width: 481px) {
  .welcome-text,
  .exclusive-text {
    font-size: 1.1rem;
    width: 30rem;
  }
  .welcome-text h2 {
    font-size: 1.5rem;
  }

  /*home*/

  .cta {
    font-size: 1rem;
  }

  /*Nav*/

  .main-menu > ul {
    list-style: none;
    padding: 0;
  }

  .main-menu > ul > li {
    display: inline-block;
    font-size: 0.75rem;
  }

  .hamburger-label {
    display: none;
  }

  nav {
    display: flex;
  }

  ul.breadcrumbs {
    padding: 0.625rem 1.25rem;
    text-align: center;
  }

  ul.breadcrumbs li a {
    font-size: 0.6em;
  }

  /*search*/

  .about-link,
  .contact-link {
    display: none;
  }

  /*jacket*/

  /*payment pages*/
  .order-summary {
    border-radius: 0.94;
  }

  .review {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .reviews-section {
    display: flex;
    margin: 30px 0rem;
  }

  .review-points {
    flex-direction: column;
    margin-right: 60px;
  }
}

/*544*/

@media only screen and (min-width: 544px) {
  .main-header {
    display: flex;
    justify-content: space-between;
    background: var(--color-header-nav);
    border-bottom: 1px solid #707070;
  }

  /*jacket page*/

  .information {
    display: flex;
    justify-content: space-between;
  }
}

/*624*/
@media only screen and (min-width: 624px) {
  .top-picks {
    display: flex;
    justify-content: space-evenly;
  }

  .logo {
    max-width: 20vw;
  }
  .featured {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .main-categories {
    grid-template-columns: 1fr 1fr;
  }
}

/*769*/

@media only screen and (min-width: 769px) {
  /*global*/
  h1 {
    font-size: 1.4em;
  }

  /*homepage*/

  .main-running {
    background: rgba(0, 0, 0, 0.3) url(/images/Homepage/header-image.jpg);
    background-blend-mode: darken;
    background-size: cover;
    min-height: 400px;
    margin-top: 0.625rem;
  }

  .main-exclusive {
    background: rgba(0, 0, 0, 0.3) url("/images/Homepage/exclusive.jpg");
    background-blend-mode: darken;
    background-size: cover;
    min-height: 400px;
    margin-top: 0.625rem;
  }

  .welcome-text,
  .exclusive-text {
    font-size: 1.6rem;
  }

  .welcome-text h2 {
    font-size: 2rem;
    width: 37.5rem;
  }

  /*Nav*/

  ul.breadcrumbs li a {
    font-size: 0.7em;
  }

  .about-link,
  .contact-link {
    display: inline-block;
    text-decoration: underline;
  }

  /*JACKET*/

  .jacket {
    display: flex;
    flex-direction: row;
  }
  .jacket-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .jacket-info,
  .information {
    margin: 0rem 5rem 0rem 0.6rem;
  }

  .stars-icon {
    width: 25%;
  }

  /*Payment*/
  .jacket-checkout {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 1rem 0rem;
  }

  .bag-list {
    justify-content: space-between;
  }

  .cta-green {
    width: 10rem;
  }

  .cta-checkout2 {
    display: block;
    margin: 0.5rem 0rem 0rem 0.5rem;
  }

  .cta-checkout {
    display: none;
  }

  .summary {
    border: 1px solid #ffa827;
    height: 50%;
  }

  /*search*/
  .search input[type="text"] {
    width: 60vw;
  }
}

@media only screen and (min-width: 900px) {
  .main-menu > ul > li {
    font-size: 0.8rem;
  }
}

@media only screen and (min-width: 1020px) {
  /*Nav*/

  .main-menu > ul > li {
    font-size: 1rem;
  }

  ul.breadcrumbs li a {
    font-size: 0.9em;
  }
}
