/*481*/
@media only screen and (min-width: 481px) {
  .main-header {
    display: flex;
    justify-content: space-between;
    background: var(--color-header-nav);
    align-items: center;
    border-bottom: 1px solid #707070;
  }

  h1 {
    font-size: 1.2em;
  }

  .main-running {
    background: rgba(0, 0, 0, 0.3) url("/images/Homepage/header-image.jpg");
    background-blend-mode: darken;
    background-size: cover;
    min-height: 400px;
    margin-top: 10px;
  }

  .welcome-text {
    font-size: 1.2em;
    padding-left: 10px;
    padding-top: 10px;
    max-width: 400px;
  }

  /*Nav*/

  .main-menu > ul {
    list-style: none;
    padding: 0;
  }

  .main-menu > ul > li {
    display: inline-block;
    font-size: 0.75rem;
  }

  nav {
    display: flex;
  }

  ul.breadcrumbs {
    padding: 10px 20px;
    text-align: center;
  }

  ul.breadcrumbs li a {
    font-size: 0.7em;
  }

  /*search*/
  .search {
    display: none;
  }

  .search-web {
    display: block;
  }

  .search-web input[type="text"] {
    width: 300px;
    text-align: left;
    margin-left: 10px;
    background-color: #f2f0f0;
    border-radius: 5px;
    border: 1px solid darkgray;
  }

  .about-link,
  .contact-link {
    display: none;
  }

  .top-picks {
    display: flex;
    justify-content: space-evenly;
  }

  /*jacket*/
  .jacket-info {
    display: flex;
  }

  /*payment pages*/
  .order-summary {
    border-radius: 15px;
  }

  .reviews-section {
    display: flex;
    margin: 30px 0px;
  }

  .reviews img {
    margin: 0;
  }
  .review-points {
    flex-direction: column;
    margin-right: 60px;
  }

  .footer {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

/*544*/

@media only screen and (min-width: 544px) {
  .main-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background: var(--color-header-nav);
    align-items: center;
    border-bottom: 1px solid #707070;
  }

  .search-web input[type="text"] {
    width: 50px;
  }
  /*jacket page*/

  .information {
    display: flex;
    justify-content: space-between;
  }
}

/*624*/
@media only screen and (min-width: 624px) {
  .search-web input[type="text"] {
    width: 55px;
    margin-left: 0px;
  }

  div .search-web {
    margin: 0px;
    padding: 0px;
  }
}

/*769*/

@media only screen and (min-width: 769px) {
  .hamburger-label {
    display: none;
  }

  h1 {
    font-size: 1.4em;
  }

  .main-menu > ul > li {
    display: inline-block;
    font-size: 0.9rem;
  }

  .main-header {
    display: flex;
    justify-content: space-between;
    background: var(--color-header-nav);
    align-items: center;
    border-bottom: 1px solid #707070;
  }

  /*Nav*/

  ul.breadcrumbs li a {
    font-size: 0.8em;
  }

  .search-web input[type="text"] {
    width: 90px;
  }
}

@media only screen and (min-width: 900px) {
  .search-web input[type="text"] {
    width: 100px;
  }

  .main-menu > ul > li {
    display: inline-block;
    font-size: 1rem;
  }
}

@media only screen and (min-width: 1020px) {
  .hamburger-label {
    display: none;
  }

  h1 {
    font-size: 1.7em;
  }

  .main-running {
    background: rgba(0, 0, 0, 0.3) url("/images/Homepage/header-image.jpg");
  }

  .welcome-text {
    font-size: 1.2em;
    padding-left: 10px;
    padding-top: 10px;
    max-width: 400px;
  }

  .main-header {
    display: flex;
    justify-content: space-between;
    background: var(--color-header-nav);
    align-items: center;
    border-bottom: 1px solid #707070;
  }

  /*Nav*/

  .main-menu > ul {
    list-style: none;
    padding: 0;
  }

  .main-menu > ul > li {
    display: inline-block;
    font-size: 1.2rem;
  }

  nav {
    display: flex;
  }

  ul.breadcrumbs li a {
    font-size: 0.9em;
  }

  .search {
    display: none;
  }
}
