/*768*/
@media only screen and (min-width: 500px) and (max-width: 768px) {
  .hamburger-label {
    display: none;
  }
  .main-header {
    display: flex;
    justify-content: space-between;
    background: var(--color-header-nav);
    align-items: center;
    border-bottom: 1px solid #707070;
  }

  h1 {
    font-size: 2em;
  }

  .main-running {
    background: rgba(0, 0, 0, 0.3) url("/images/Homepage/header-image.jpg");
    background-blend-mode: darken;
    background-size: cover;
    min-height: 400px;
    margin-top: 10px;
  }

  .welcome-text {
    font-size: 1.2em;
    padding-left: 10px;
    padding-top: 10px;
    max-width: 400px;
  }

  /*Nav*/

  .main-menu > ul {
    list-style: none;
    padding: 0;
  }

  .main-menu > ul > li {
    display: inline-block;
    font-size: 0.75rem;
  }

  nav {
    display: flex;
  }

  .search {
    display: none;
  }

  .search-web {
    order: 3;
    max-width: 90px;
    background-color: #f2f0f0;
  }

  .search-web input[type="text"] {
    width: 100px;
  }

  .about-main h2,
  p {
    margin-left: 35px;
    margin-right: 35px;
  }

  .footer {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1020px) {
  .hamburger-label {
    display: none;
  }

  h1 {
    font-size: 2em;
  }

  .main-running {
    background: rgba(0, 0, 0, 0.3) url("/images/Homepage/header-image.jpg");
    background-blend-mode: darken;
    background-size: cover;
    min-height: 400px;
    margin-top: 10px;
  }

  .welcome-text {
    font-size: 1.2em;
    padding-left: 10px;
    padding-top: 10px;
    max-width: 400px;
  }

  .main-header {
    display: flex;
    justify-content: space-between;
    background: var(--color-header-nav);
    align-items: center;
    border-bottom: 1px solid #707070;
  }

  /*Nav*/

  .main-menu > ul {
    list-style: none;
    padding: 0;
  }

  .main-menu > ul > li {
    display: inline-block;
    font-size: 0.75rem;
  }

  nav {
    display: flex;
  }

  .search {
    display: none;
  }

  .search-web {
    order: 3;
  }

  .search-web input[type="text"] {
    width: 100px;
  }

  .about-main h2,
  p {
    margin-left: 50px;
    margin-right: 50px;
  }

  .footer {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media only screen and (min-width: 1021px) {
  .hamburger-label {
    display: none;
  }

  h1 {
    font-size: 2em;
  }

  .main-running {
    background: rgba(0, 0, 0, 0.3) url("/images/Homepage/header-image.jpg");
  }

  .welcome-text {
    font-size: 1.2em;
    padding-left: 10px;
    padding-top: 10px;
    max-width: 400px;
  }

  .main-header {
    display: flex;
    justify-content: space-between;
    background: var(--color-header-nav);
    align-items: center;
    border-bottom: 1px solid #707070;
  }

  /*Nav*/

  .main-menu > ul {
    list-style: none;
    padding: 0;
  }

  .main-menu > ul > li {
    display: inline-block;
    font-size: 0.75rem;
  }

  nav {
    display: flex;
  }

  .search {
    display: none;
  }

  .search-web {
    order: 3;
  }

  .search-web input[type="text"] {
    width: 100px;
  }

  .about-main h2,
  p {
    margin-left: 70px;
    margin-right: 70px;
  }

  .footer {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
