@import "imports/links.css";
@import "imports/variables.css";
@import "imports/ui.css";

/*GLOBAL STYLES*/

h1,
h2 {
  font-family: "Zen Antique", Tahoma, Verdana, sans-serif;
  color: #003438;
  font-weight: bold;
  text-transform: uppercase;
}

h1 {
  text-align: center;
  padding-top: 10px;
  font-size: 1.3em;
}

h2 {
  font-size: 1.1em;
}

h5 {
  text-transform: uppercase;
}

body {
  font-family: Verdana, helvetica, Tahoma, sans-serif;
}
header {
  background: var(--color-header-nav);
  min-height: 100px;
  border: 1px #707070;
  border-style: none none solid none;
  display: grid;
  grid-template-columns: auto 3fr 1fr;
  position: sticky;
  padding-top: 10px;
  width: var(--width-100);
}

.search input[type="text"] {
  width: 90vw;
  margin: 0px 10px 0px 13px;
  background-color: #f2f0f0;
  border-radius: 5px;
  border: 1px solid darkgray;
}
.search {
  grid-column: 1/-1;
  display: block;
  padding: 0px;
}

.search-web {
  display: none;
  grid-area: search-web;
}

.logo {
  display: block;
  max-width: 40vw;
  margin: 0px auto;
  grid-area: logo;
}

.menu-icons {
  padding-top: 10px;
}

.orange-price {
  color: #ff4417;
  font-weight: bold;
  font-size: 1em;
}

/*NAV*/

nav,
#hamburger-menu {
  display: none;
}

nav ul {
  padding: 0px;
}
nav li {
  display: block;
  text-decoration: underline;
}

nav a {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--color-a-hamburger);
  padding: 10px;
  display: block;
}

nav a:hover {
  font-weight: bold;
}
.current {
  color: var(--color-text);
  font-weight: bold;
  border-radius: 5px;
}

nav {
  background-color: #fff;
  position: absolute;
  left: 0px;
  top: 72px;
  z-index: 1;
}

.hamburger-label {
  float: left;
  color: var(--color-a-hamburger);
  padding: 10px;
  font-size: 1.5em;
  display: block;
}

#hamburger-menu:checked ~ nav {
  display: block;
}

body {
  margin: 0px;
  padding: 0px;
}

/*FOOTER*/

.footer-container {
  margin: 10px 0px 0px 0px;
  background-color: #f2f0f0;
}

.footer {
  width: 100%;
  color: #000000;
  display: grid;
  justify-content: center;
  margin: 20px 15px 0px 0px;
}

.footer-heading {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.footer-heading h2 {
  margin-bottom: 1rem;
}

.footer-heading a {
  color: #000000;
  text-decoration: none;
  margin-bottom: 0.5rem;
}

.footer-heading a:hover {
  font-weight: bold;
}
.footer-icons {
  display: flex;
  max-width: 25px;
  width: 100%;
}

.footer-icons img {
  padding: 20px;
}
