main {
  color: var(--color-text);
  margin-left: 10px;
  margin-right: 10px;
}

.order-summary {
  display: grid;
  grid-template-columns: 3fr 1fr;
  margin-bottom: 15px;
  border: 1px solid #ffa827;
  border-radius: 5px;
  padding: 0px 10px 0px 10px;
}
.order-summary h5 {
  grid-column: -1/1;
  margin-bottom: 0px;
}

.order-summary h3 {
  text-transform: uppercase;
}

.summary-info1 {
  display: grid;
  grid-column: 1;
  grid-column-start: 1;
  grid-column-end: 1;
}
.summary-info2 {
  display: grid;
  grid-column: 2;
  grid-column-start: 2;
  grid-column-end: 2;
}

.summary-info2-orange {
  color: #ff4417;
  font-weight: bold;
}

.hand-icon {
  width: 80%;
  margin-left: 20px;
}
