.cta {
  cursor: pointer;
  border-radius: 0.31rem;
  font-size: 1em;
  padding: 1rem 1.8rem;
  margin: 0 auto;
  display: block;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  width: 150px;
}

.cta-white {
  cursor: pointer;
  background-color: #fff;
  color: #003438;
  text-decoration: none;
  border: 4px solid #003438;
}

.cta-green {
  background-color: #003438;
  color: #fff;
  border-style: none;
  text-transform: uppercase;
  margin-bottom: 2rem;
}

.cta-view {
  grid-column: 2;
  text-transform: none;
}

.cta-white-small {
  text-align: center;
  display: block;
  border-radius: 0.31rem;
  width: 100px;
  padding: 0.6rem 1.2rem;
  margin: 0 auto;
  margin-bottom: 0.63em;
  margin-top: 0.63rem;
}

.cta-contact {
  width: 200px;
}

/*HOVER STATES*/

.cta-green:hover,
.cta-green:active {
  background: rgb(0, 52, 56, 0.2);
  transition: background-color 0.3s ease-in;
  color: #003438;
}

.cta-white:hover,
.cta-white:active {
  font-weight: bold;
  border: 4px solid rgb(0, 52, 56, 0.2);
  transition: 0.3s ease-in;
}
